<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.0.1/css/bootstrap.css">
    <script type="text/javascript" src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="register.js"></script>
</head>
<body onload="loadGroups()">
<div class="container" style="margin: 0 auto 0 auto">
    <h3>Регистрация</h3>

    <form method="post" action="/register" enctype="application/x-www-form-urlencoded" th:object="${form}">
        <p>
            <label>
                Login:
                <input type="text" name="login" th:value="${form.login}" class="form-control">
            </label>
        </p>
        <div th:each="error : ${#fields.errors('login')}" th:text="${error}" class="alert alert-danger" role="alert"></div>
        <p>
            <label>
                Password:
                <input type="password" name="password" th:value="${form.password}" class="form-control">
            </label>
        </p>
        <div th:each="error : ${#fields.errors('password')}" th:text="${error}" class="alert alert-danger" role="alert"></div>
        <p>
            <label>
                Password confirmation:
                <input type="password" name="passwordConfirmation" th:value="${form.passwordConfirmation}"
                       class="form-control">
            </label>
        </p>
        <p>
            <label>Group:
                <select name="group">
                </select>
            </label>
        </p>
        <div th:each="error : ${#fields.errors('passwordConfirmation')}" th:text="${error}" class="alert alert-danger" role="alert"></div>
        <p>
            <input type="submit" class="btn btn-primary">
        </p>
    </form>
</div>
</body>
</html>
